* { box-sizing: border-box; }
body {
  position: fixed;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #336B87;
}
.autocomplete {
  margin-top: 10%;
  width:50%;
  display: inline-block;
  margin-left: 25%;
}
 input {
  border: 1px solid black;
  font-size: 1.2em; 
  background-color: #A9BFCE;
  padding: 0.5em;
  width: 95%;
}
.autocomplete-items {
  border: 1px solid #336B87;
  border-bottom: none;
  width:95%;
}
#autocomplete-list{
    border: 0;
    padding: 0;
    margin:0;
    display: none;
    background-color: #90AFC5;
    overflow-y: auto;
    max-height: 14.4em;
}
li{
    cursor: pointer;
    font-size: 1.1em;
    border : 1px solid #d4d4d4;
    padding: 0.5em;
}
#autocomplete-list li:hover{
    background-color: #2A3132;
    color: #A9BFCE;
    padding: 0.9em;
}
.selected{
    background-color: #2A3132;
    color: #A9BFCE;
    padding: 0.9em;
}
#clear{
    display: none;
    cursor: pointer;
    position: relative;
    right: 1.4em;
}
strong{
    font-size: 1.25em;
}