body{
    background-color: #2A3132;
}
.calculator{
    background: #336B87;
    width:40%;
    margin: 10% auto;
    padding: 0;
}
.calculator *{
    padding: 2%;
}
#display{
    font-size: 2em;
    background-color: #f2f2f2;
    width:95.4%;
    margin: 0;
}
.calculator button{
    width:23.4%;
    font-size: 1.5em;
    margin: 0.5% 0 0.5% 1%;
}
.calculator button:hover{
    background-color: #2A3132;
    color: #ffffff;
}
#equals, #AC{
    font-weight:bold;
    color: #763626;
}
.operation{
    font-weight:bold;
    color: #90AFC5;
}
.power{
    margin: 0;
    padding: 0; 
}